/* General */
body {
  font-family: "Century Gothic", Arial, sans-serif;
  margin: 0;
  background-color: #00283d;
  
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos de la tarjeta de login */
.login-card {
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
}

/* Cabecera del login */
.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-icon {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url('login.png'); /* Ruta relativa desde la raíz */
  margin: 0 auto; 
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 0; 

}



.login-title {
  font-family: "Century Gothic", sans-serif; /* Fuente */
  font-size: 24px; /* Tamaño del texto */
  color: #e5b71e; /* Azul del texto */
  text-align: center;
  margin-top: 10px; /* Ajusta la separación del logo */
}



h2 {
  font-family: "Century Gothic", sans-serif; /* Fuente */
  font-weight: bold; /* Texto en negrita */
  margin: 0;
  font-size: 28px;
  color: #78000c;
}

/* Campos del formulario */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

/* Botón */
button {
  width: 100%;
  background-color: #e5a61e;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffffff;
}

/* Olvidar contraseña */
.forgot-password {
  font-family: "Century Gothic", sans-serif; /* Fuente */
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  margin-top: 16px;
}

.forgot-password a {
  color: #0015ff77;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
