.sidenav-header{
    padding: 24px;
    text-align: center;
    >img{
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;

    }
    .mat-nav-list{
        color: black;
    }

    .header-text{
        >h2{
            font-family: "Century Gothic", sans-serif; /* Fuente */
            font-weight: bold; /* Texto en negrita */          
            margin: 0;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: rgb(206, 96, 0);
        }
        >p{
            font-family: "Century Gothic", sans-serif; /* Fuente */
            font-weight: bold; /* Texto en negrita */          
            margin: 0;
            font-size: 2rem;
            color: rgb(25, 0, 75);
        }
    }
    .hide-header-text{
        opacity: 0;
        height: 0px;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen horizontalmente */
    margin: 10px 0;
    font-family: 'Century Gothic', sans-serif; /* Aplica Century Gothic */
  }
  
  .profile-avatar {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px; /* Asegúrate de mantener un tamaño cuadrado */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
    border: 2px solid #ccc; /* Borde opcional */
  }
  
  .profile-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333; /* Color del texto */
  }
  